<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NIntegrate.Configuration.AppCode" value="Test"/>
    <add key="NIntegrate.ExternalServiceLocator" value="NIntegrate.Test.TestClasses.TestServiceLocator, NIntegrate.Test, Version=0.8.0.1, Culture=neutral, PublicKeyToken=e2b9e2165dbdd5e6" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="NIntegrate.Configuration" connectionString="Data Source=.;Initial Catalog=NIntegrateConfig;Persist Security Info=True;User ID=nbear;Password=nbear" />
  </connectionStrings>
</configuration>