<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Test" connectionString="Data Source=.;Initial Catalog=AdventureWorksLT2008;Persist Security Info=True;User ID=nbear;Password=nbear" providerName="System.Data.SqlClient" />
    <add name="OracleTest" connectionString="Data Source=localhost;Integrated Security=SSPI;" providerName="System.Data.OracleClient" />
  </connectionStrings>
</configuration>